.tracking-page {
  max-width: 900px;
  margin-top: 90px;
  margin-bottom: 100px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.tracking-page .back-to-orders-link {
  display: inline-block;
  margin-bottom: 25px;
  font-weight: 500;
}

.tracking-page .delivery-date {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 25px;
}

/* PRODUCT CARD */

.tracking-page .tracking-product {
  display: flex;
  gap: 25px;
  align-items: center;
  margin-bottom: 30px;
  padding: 20px;

  border: 1px solid #e5e5e5;
  border-radius: 10px;

  background: white;
  justify-content: space-between;
}

.tracking-page .product-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #333;
  width: 350px;
  margin-top: 3px;
}

.tracking-page .product-image {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}

/* TRACKING LABELS */

.tracking-page .progress-labels-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.tracking-page .progress-label {
  text-align: center;
  flex: 1;
}

.tracking-page .step-status {
  color: #777;
}

.tracking-page .completed {
  color: rgb(25, 135, 84);
  font-weight: 600;
}

.tracking-page .current-status {
  color: rgb(25, 135, 84);
  font-weight: 700;
}

.tracking-page .step-time {
  font-size: 12px;
  color: #999;
  margin-top: 4px;
}

/* PROGRESS BAR */

.tracking-page .progress-bar-container {
  height: 10px;
  width: 100%;
  background: #e5e5e5;
  border-radius: 20px;
  overflow: hidden;
}

.tracking-page .progress-bar {
  height: 100%;
  background-color: rgb(25, 135, 84);
  border-radius: 20px;
  transition: width 0.4s ease;
}

/* MOBILE */

@media (max-width: 575px) {

  .tracking-page .tracking-product {
    flex-direction: column;
    align-items: flex-start;
  }

  .tracking-page .product-image {
    width: 100%;
    height: auto;
  }

  .tracking-page .progress-labels-container {
    font-size: 14px;
  }

}

@media (max-width: 450px) {

  .tracking-page .progress-labels-container {
    flex-direction: column;
    gap: 8px;
  }

  .tracking-page .progress-label {
    text-align: left;
  }

}